<div class="row"
  <div class="col-xs-12">
    <div class="brand-unit">

      <h1 class="text-center">Create Your Profile</h1>
      <p class="text-center">Become part of the WorkGems community by completing your profile!</p>

    </div>
  </div>

  <div class="col-xs-12">
    <div class="brand-unit-main">

      <%= render "form" %>

    </div>
  </div>

</div>