<div class="row"
  <div class="col-md-6 col-md-offset-3 brand-unit">

    <h1 class="text-center">Create Your Profile</h1>
    <p class="text-center">Become part of the WorkGems community and fille out your profile!</p>
    <div class="brand-unit-main">

      <%= render "form" %>

    </div>

  </div>
</div>