<div class="row">
  <div class="col-sm-12 text-center brand-unit">
   
      <h2>Community</h2>
      <p>Placeholder</p>
  </div>
  <div class="col-sm-12 ">
    <div class="brand-unit-main">

      <h2>Table List</h2>

  
    </div>
  </div>
</div>