<div class="row">
  <div class="col-xs-12">
    <div class="brand-unit">

      <h2><i class="fa fa-info-circle"></i> About This Site </h2>
      <p>Placeholder.</p>

    </div>
  </div>



  <div class="col-xs-12">
    <div class="brand-unit-main">

    </div>
  </div>
</div>