<!-- Facebook SDK -->

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '226265321049754',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>



<div class="row">
  <div class="col-xs-12">
    <div class="brand-unit">

      <h1><i class="fa fa-info-circle"></i> About This Site </h1>
      <p>Placeholder.</p>

    </div>
  </div>

  <!-- Facebook Sample Content - Like Button -->
  <div
    class="fb-like"
    data-share="true"
    data-width="450"
    data-show-faces="true">
  </div>


  <div class="col-xs-12">
    <div class="brand-unit-main">

    </div>
  </div>
</div>