/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self

 *= require owl.carousel
 *= require owl.theme
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";


/*    
****** DESKTOP VIEW ******   
*/

h1 {
  font-size: 3.9vmax;
}
h2 {
  font-size: 2.9vmax;
  margin-top: 5px;
  margin-bottom: 5px;
}
h3 {
  font-size: 2.1vmax;
  margin-top: 5px;
  margin-bottom: 5px;
}
h4 {
  font-size: 1.9vmax;
  margin-top: 5px;
  margin-bottom: 5px;
}
h5 {
  font-size: 1.4vmax;
}

nav, navbar {
  background-color: #C43f04;
  border-color: #c43f04;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100px;
  letter-spacing: 1.5px;
}

hr {
  border-color: #cf4001;
}

body {
  background: image-url('wood_copy.jpg'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



th, td {
  text-align: center;
}


.table > tbody > tr > th {
  vertical-align: middle;
  max-width: 100%;
}

.table {
  max-width: 100%;
}

i {
  
}

img {
  max-width: 90%;
}

.border-white {
	border-style: solid;
	border-width: 1px;
	border-color: rgba(255,255,255,.6);
	margin: 5px 0px;
	border-radius: 5px;
}

.img-center {
	margin: auto;
}

.alert-notice {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.padding {
  padding: 10px;
}

.brand-text-red {
    color: #cf4001; // red
}

.brand-text-white {
    color: #F5F5F5; // white
}

.brand-back {
  background-color: #cf4001;
  color: white;
  border-color: white;
}

.brand-modal {
  background-color: white;
  color: #cf4001;
  border-color: #cf4001;
}



.membership_well {
    min-height: 20px;
    padding: 19px;
    margin: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}



.modal-body {
    max-height: 800px;
}

.btn-toggle {
  background-color: white;
  border-color: white;
}

.brand:hover {
  background: rgba(255,173,10, .5) 90%;
  background-image: -webkit-linear-gradient(top, rgba(255,173,10, .5) 90%, rgba(255,173,10, .5) 90%);
  background-image: -moz-linear-gradient(top, rgba(255,173,10, .5) 90%, rgba(255,173,10, .5) 90%);
  background-image: -ms-linear-gradient(top, rgba(255,173,10, .5) 90%, rgba(255,173,10, .5) 90%);
  background-image: -o-linear-gradient(top, rgba(255,173,10, .5) 90%, rgba(255,173,10, .5) 90%);
  background-image: linear-gradient(to bottom, rgba(255,173,10, .5) 90%, rgba(255,173,10, .5) 90%);
  text-decoration: none;
  color: white;
}

/*.brand-carousel:hover {
  background: rgba(207, 64, 1, .5) 90%;
  background-image: -webkit-linear-gradient(top, rgba(207, 64, 1, .5) 90%, rgba(207, 64, 1, .5) 90%);
  background-image: -moz-linear-gradient(top, rgba(207, 64, 1, .5) 90%, rgba(207, 64, 1, .5) 90%);
  background-image: -ms-linear-gradient(top, rgba(207, 64, 1, .5) 90%, rgba(207, 64, 1, .5) 90%);
  background-image: -o-linear-gradient(top, rgba(207, 64, 1, .5) 90%, rgba(207, 64, 1, .5) 90%);
  background-image: linear-gradient(to bottom, rgba(207, 64, 1, .5) 90%, rgba(207, 64, 1, .5) 90%);
  text-decoration: none;
  color: white;
}*/

.brand-btn {
  margin: auto;
  background: rgba(207, 64, 1, .5);
  background-image: -webkit-linear-gradient(top, rgba(207, 64, 1, .5), rgba(207, 64, 1, .5));
  background-image: -moz-linear-gradient(top, rgba(207, 64, 1, .5), rgba(207, 64, 1, .5));
  background-image: -ms-linear-gradient(top, rgba(207, 64, 1, .5), rgba(207, 64, 1, .5));
  background-image: -o-linear-gradient(top, rgba(207, 64, 1, .5), rgba(207, 64, 1, .5));
  background-image: linear-gradient(to bottom, rgba(207, 64, 1, .5), rgba(207, 64, 1, .5));
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  // text-shadow: 1px 1px 3px #666666;
/*   -webkit-box-shadow: 2px 4px 1px #666666;
  -moz-box-shadow: 2px 4px 1px #666666;
  box-shadow: 2px 4px 1px #666666; */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 14px;
  font-weight: 100px;
  border: solid #C43f04 1px;
  text-decoration: none;
}

.brand-btn:hover {
  background: rgba(255,173,10, .5) 90%;
  background-image: -webkit-linear-gradient(top, rgba(255,173,10, .5) 90%, rgba(255,173,10, .5) 90%);
  background-image: -moz-linear-gradient(top, rgba(255,173,10, .5) 90%, rgba(255,173,10, .5) 90%);
  background-image: -ms-linear-gradient(top, rgba(255,173,10, .5) 90%, rgba(255,173,10, .5) 90%);
  background-image: -o-linear-gradient(top, rgba(255,173,10, .5) 90%, rgba(255,173,10, .5) 90%);
  background-image: linear-gradient(to bottom, rgba(255,173,10, .5) 90%, rgba(255,173,10, .5) 90%);
  text-decoration: none;
  color: #C43f04;
}

.brand-btn-home {
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  max-width: 80%;
  background: rgba(207, 64, 1, 1);
  background-image: -webkit-linear-gradient(top, rgba(207, 64, 1, 1), rgba(207, 64, 1, 1));
  background-image: -moz-linear-gradient(top, rgba(207, 64, 1, 1), rgba(207, 64, 1, 1));
  background-image: -ms-linear-gradient(top, rgba(207, 64, 1, 1), rgba(207, 64, 1, 1));
  background-image: -o-linear-gradient(top, rgba(207, 64, 1, 1), rgba(207, 64, 1, 1));
  background-image: linear-gradient(to bottom, rgba(207, 64, 1, 1), rgba(207, 64, 1, 1));
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  // text-shadow: 1px 1px 3px #666666;
/*   -webkit-box-shadow: 2px 4px 1px #666666;
  -moz-box-shadow: 2px 4px 1px #666666;
  box-shadow: 2px 4px 1px #666666; */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 14px;
  font-weight: 100px;
  // padding: 2% 2%;
  border: solid #cf3f01 1px;
  text-decoration: none;
}

.brand-btn-home:hover {
  background: rgba(255,173,10, 1) 90%;
  background-image: -webkit-linear-gradient(top, rgba(255,173,10, 1) 90%, rgba(255,173,10, 1) 90%);
  background-image: -moz-linear-gradient(top, rgba(255,173,10, 1) 90%, rgba(255,173,10, 1) 90%);
  background-image: -ms-linear-gradient(top, rgba(255,173,10, 1) 90%, rgba(255,173,10, 1) 90%);
  background-image: -o-linear-gradient(top, rgba(255,173,10, 1) 90%, rgba(255,173,10, 1) 90%);
  background-image: linear-gradient(to bottom, rgba(255,173,10, 1) 90%, rgba(255,173,10, 1) 90%);
  text-decoration: none;
  color: #cf4001;
}

.close {
  color: white;
}

.float-left {
  float: left;
  width: 33%;
}

.twitter-btn {
  margin: auto;
  background: rgba(85,172,238, .5);
  background-image: -webkit-linear-gradient(top, rgba(85,172,238, .5), rgba(85,172,238, .5));
  background-image: -moz-linear-gradient(top, rgba(85,172,238, .5), rgba(85,172,238, .5));
  background-image: -ms-linear-gradient(top, rgba(85,172,238, .5), rgba(85,172,238, .5));
  background-image: -o-linear-gradient(top, rgba(85,172,238, .5), rgba(85,172,238, .5));
  background-image: linear-gradient(to bottom, rgba(85,172,238, .5), rgba(85,172,238, .5));
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  // text-shadow: 1px 1px 3px #666666;
/*   -webkit-box-shadow: 2px 4px 1px #666666;
  -moz-box-shadow: 2px 4px 1px #666666;
  box-shadow: 2px 4px 1px #666666; */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 14px;
  font-weight: 100px;
  border: solid #55acee 1px;
  text-decoration: none;
}

.twitter-btn:hover {
  background: rgba(170,213,246, .5) 90%;
  background-image: -webkit-linear-gradient(top, rgba(170,213,246, .5) 90%, rgba(170,213,246, .5) 90%);
  background-image: -moz-linear-gradient(top, rgba(170,213,246, .5) 90%, rgba(170,213,246, .5) 90%);
  background-image: -ms-linear-gradient(top, rgba(170,213,246, .5) 90%, rgba(170,213,246, .5) 90%);
  background-image: -o-linear-gradient(top, rgba(170,213,246, .5) 90%, rgba(170,213,246, .5) 90%);
  background-image: linear-gradient(to bottom, rgba(170,213,246, .5) 90%, rgba(170,213,246, .5) 90%);
  text-decoration: none;
  color: #55acee;
}

.facebook-btn {
  margin: auto;
  background: rgba(59,89,152, .5);
  background-image: -webkit-linear-gradient(top, rgba(59,89,152, .5), rgba(59,89,152, .5));
  background-image: -moz-linear-gradient(top, rgba(59,89,152, .5), rgba(59,89,152, .5));
  background-image: -ms-linear-gradient(top, rgba(59,89,152, .5), rgba(59,89,152, .5));
  background-image: -o-linear-gradient(top, rgba(59,89,152, .5), rgba(59,89,152, .5));
  background-image: linear-gradient(to bottom, rgba(59,89,152, .5), rgba(59,89,152, .5));
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  // text-shadow: 1px 1px 3px #666666;
/*   -webkit-box-shadow: 2px 4px 1px #666666;
  -moz-box-shadow: 2px 4px 1px #666666;
  box-shadow: 2px 4px 1px #666666; */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 14px;
  font-weight: 100px;
  border: solid #3b5998 1px;
  text-decoration: none;
}

.facebook-btn:hover {
  background: rgba(157,172,203, .5) 90%;
  background-image: -webkit-linear-gradient(top, rgba(157,172,203, .5) 90%, rgba(157,172,203, .5) 90%);
  background-image: -moz-linear-gradient(top, rgba(157,172,203, .5) 90%, rgba(157,172,203, .5) 90%);
  background-image: -ms-linear-gradient(top, rgba(157,172,203, .5) 90%, rgba(157,172,203, .5) 90%);
  background-image: -o-linear-gradient(top, rgba(157,172,203, .5) 90%, rgba(157,172,203, .5) 90%);
  background-image: linear-gradient(to bottom, rgba(157,172,203, .5) 90%, rgba(157,172,203, .5) 90%);
  text-decoration: none;
  color: #3b5998;
}

.linkedin-btn {
  margin: auto;
  background: rgba(0,123,182, .5);
  background-image: -webkit-linear-gradient(top, rgba(0,123,182, .5), rgba(0,123,182, .5));
  background-image: -moz-linear-gradient(top, rgba(0,123,182, .5), rgba(0,123,182, .5));
  background-image: -ms-linear-gradient(top, rgba(0,123,182, .5), rgba(0,123,182, .5));
  background-image: -o-linear-gradient(top, rgba(0,123,182, .5), rgba(0,123,182, .5));
  background-image: linear-gradient(to bottom, rgba(0,123,182, .5), rgba(0,123,182, .5));
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  // text-shadow: 1px 1px 3px #666666;
/*   -webkit-box-shadow: 2px 4px 1px #666666;
  -moz-box-shadow: 2px 4px 1px #666666;
  box-shadow: 2px 4px 1px #666666; */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 14px;
  font-weight: 100px;
  border: solid #007BB6 1px;
  text-decoration: none;
}

.linkedin-btn:hover {
  background: rgba(127,189,218, .5) 90%;
  background-image: -webkit-linear-gradient(top, rgba(127,189,218, .5) 90%, rgba(127,189,218, .5) 90%);
  background-image: -moz-linear-gradient(top, rgba(127,189,218, .5) 90%, rgba(127,189,218, .5) 90%);
  background-image: -ms-linear-gradient(top, rgba(127,189,218, .5) 90%, rgba(127,189,218, .5) 90%);
  background-image: -o-linear-gradient(top, rgba(127,189,218, .5) 90%, rgba(127,189,218, .5) 90%);
  background-image: linear-gradient(to bottom, rgba(127,189,218, .5) 90%, rgba(127,189,218, .5) 90%);
  text-decoration: none;
  color: #007BB6;
}

// Font Awesome Icon Stylings
.fa-facebook-square {
  color: #3b5998;
}

.fa-facebook-square:hover {
  color: #CF4001;
}

.fa-linkedin-square {
  color: #007BB6;
}

.fa-linkedin-square:hover {
  color: #CF4001;
}


.carousel-img {
  display:inline-block;
  max-width: 49%;
  max-height: 450px;
}

.navbar-brand {
  color: white;
}

.nav-brand-btn {
  margin: 10px;
  background: #fff;
  background-image: -webkit-linear-gradient(top, #fff, #fff);
  background-image: -moz-linear-gradient(top, #fff, #fff);
  background-image: -ms-linear-gradient(top, #fff, #fff);
  background-image: -o-linear-gradient(top, #fff, #fff);
  background-image: linear-gradient(to bottom, #fff, #fff);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  // text-shadow: 1px 1px 3px #666666;
/*   -webkit-box-shadow: 2px 4px 1px #666666;
  -moz-box-shadow: 2px 4px 1px #666666;
  box-shadow: 2px 4px 1px #666666; */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #cf4001;
  font-size: 14px;
  font-weight: 100px;
  // padding: 2% 2%;
  border: solid #fff 1px;
  text-decoration: none;
}

.nav-brand-btn:hover {
  background: rgb(255,173,10) 90%;
  background-image: -webkit-linear-gradient(top, rgb(255,173,10) 90%, rgb(255,173,10) 90%);
  background-image: -moz-linear-gradient(top, rgb(255,173,10) 90%, rgb(255,173,10) 90%);
  background-image: -ms-linear-gradient(top, rgb(255,173,10) 90%, rgb(255,173,10) 90%);
  background-image: -o-linear-gradient(top, rgb(255,173,10) 90%, rgb(255,173,10) 90%);
  background-image: linear-gradient(to bottom, rgb(255,173,10) 90%, rgb(255,173,10) 90%);
  text-decoration: none;
  color: #cf4001;
}

.brand-unit {
    position: relative;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 10px;
    color: #F5F5F5; // white
    // color: #cf4001; // red
    text-align: center;
    text-shadow: 0 10px 0 rgba(0, 0, 0, 0.3);
    background: rgba(207, 64, 1, .8); //red
}

.brand-unit-main {
    position: relative;
    padding: 10px;
    padding-bottom: 20px;
    margin: auto;
    // color: #F5F5F5; // white
    color: #cf4001; // red
    border-radius: 5px;
    text-align: center;
    text-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    // background: rgba(207, 64, 1, 1); //red
    // background: #CF4001;
    background: rgba(255,255,255,.6); // white

}

.brand-unit-main-carousel {
  margin: auto;
}

.brand-unit-text {
    position: relative;
    padding: 20px;
    color: #F5F5F5; // white
    // color: #cf4001; // red
    text-align: center;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
    background: rgba(207, 64, 1, .8); //red
/*     background: #CF4001; */
    // background: rgba(255,255,255,.5); // white

}

.gallery-img {
  margin: 10px;
}

.gallery-space {
  margin: 5px;
}

.index-table-text {
  font-size: 11px;
  font-weight: 100px;
  color: black;
  text-align: center;
}


.index-table-icon {
  font-size: 24px;
  text-align: center;
}

.nav-links a {
  color: #fff;
}

.nav-links >li >a:hover {
  color: #CF4001;
}

.nav-links .active a,
.nav-links .active a:hover {
  background-color: #fff;
  color: #cf4001;
}

.navbar {
  margin-bottom: 3px;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.carousel-slider {
  float: left;
  width: 100%;
}


#container {
  height: 100%;
  margin-top: 0;
  margin-botto: 0;
}

#marquee {
  font-size: 150%;
}

#membership-block {
  text-align: center;
}

#membership-option {
  display: inline-block;
}

// Styles for index.html.erb table
.brand-unit-table {
    position: relative;
    padding: 20px;
    color: #F5F5F5; // white
    // color: #cf4001; // red
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: rgba(207, 64, 1, .8); //red
/*     background: #CF4001; */
    // background: rgba(255,255,255,.5); // white
}

