@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";


h1 {
  font-size: 4.0vmax;
}
h2 {
  font-size: 3.0vmax;
  margin-top: 5px;
  margin-bottom: 5px;
}
h3 {
  font-size: 2.5vmax;
  margin-top: 5px;
  margin-bottom: 5px;
}
h4 {
  font-size: 1.6vmax;
  margin-top: 5px;
  margin-bottom: 5px;
}
h5 {
  font-size: 1.1vmax;
}


body {
  background-image: url("wood copy.jpg");
}

th, td {
  text-align: center;
}


.table > tbody > tr > th {
  vertical-align: middle;
  max-width: 100%;
}

.table {
  max-width: 100%;
}


img {
  max-width: 90%;
}

.alert-notice {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.padding {
  padding: 10px;
}

.brand-text-red {
    color: #cf4001; // red
}

.brand-text-white {
    color: #F5F5F5; // white
}

.brand-back {
  background-color: #cf4001;
}

.brand:hover {
  background: rgba(255,173,10, .5) 90%;
  background-image: -webkit-linear-gradient(top, rgba(255,173,10, .5) 90%, rgba(255,173,10, .5) 90%);
  background-image: -moz-linear-gradient(top, rgba(255,173,10, .5) 90%, rgba(255,173,10, .5) 90%);
  background-image: -ms-linear-gradient(top, rgba(255,173,10, .5) 90%, rgba(255,173,10, .5) 90%);
  background-image: -o-linear-gradient(top, rgba(255,173,10, .5) 90%, rgba(255,173,10, .5) 90%);
  background-image: linear-gradient(to bottom, rgba(255,173,10, .5) 90%, rgba(255,173,10, .5) 90%);
  text-decoration: none;
  color: white;
}

.brand-btn {
  margin: auto;
  background: rgba(207, 64, 1, .5);
  background-image: -webkit-linear-gradient(top, rgba(207, 64, 1, .5), rgba(207, 64, 1, .5));
  background-image: -moz-linear-gradient(top, rgba(207, 64, 1, .5), rgba(207, 64, 1, .5));
  background-image: -ms-linear-gradient(top, rgba(207, 64, 1, .5), rgba(207, 64, 1, .5));
  background-image: -o-linear-gradient(top, rgba(207, 64, 1, .5), rgba(207, 64, 1, .5));
  background-image: linear-gradient(to bottom, rgba(207, 64, 1, .5), rgba(207, 64, 1, .5));
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  // text-shadow: 1px 1px 3px #666666;
/*   -webkit-box-shadow: 2px 4px 1px #666666;
  -moz-box-shadow: 2px 4px 1px #666666;
  box-shadow: 2px 4px 1px #666666; */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 14px;
  font-weight: 100px;
  border: solid #cf3f01 1px;
  text-decoration: none;
}

.brand-btn:hover {
  background: rgba(255,173,10, .5) 90%;
  background-image: -webkit-linear-gradient(top, rgba(255,173,10, .5) 90%, rgba(255,173,10, .5) 90%);
  background-image: -moz-linear-gradient(top, rgba(255,173,10, .5) 90%, rgba(255,173,10, .5) 90%);
  background-image: -ms-linear-gradient(top, rgba(255,173,10, .5) 90%, rgba(255,173,10, .5) 90%);
  background-image: -o-linear-gradient(top, rgba(255,173,10, .5) 90%, rgba(255,173,10, .5) 90%);
  background-image: linear-gradient(to bottom, rgba(255,173,10, .5) 90%, rgba(255,173,10, .5) 90%);
  text-decoration: none;
  color: #cf4001;
}

.brand-btn-home {
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  max-width: 80%;
  background: rgba(207, 64, 1, .5);
  background-image: -webkit-linear-gradient(top, rgba(207, 64, 1, .5), rgba(207, 64, 1, .5));
  background-image: -moz-linear-gradient(top, rgba(207, 64, 1, .5), rgba(207, 64, 1, .5));
  background-image: -ms-linear-gradient(top, rgba(207, 64, 1, .5), rgba(207, 64, 1, .5));
  background-image: -o-linear-gradient(top, rgba(207, 64, 1, .5), rgba(207, 64, 1, .5));
  background-image: linear-gradient(to bottom, rgba(207, 64, 1, .5), rgba(207, 64, 1, .5));
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  // text-shadow: 1px 1px 3px #666666;
/*   -webkit-box-shadow: 2px 4px 1px #666666;
  -moz-box-shadow: 2px 4px 1px #666666;
  box-shadow: 2px 4px 1px #666666; */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 14px;
  font-weight: 100px;
  // padding: 2% 2%;
  border: solid #cf3f01 1px;
  text-decoration: none;
}

.brand-btn-home:hover {
  background: rgba(255,173,10, .5) 90%;
  background-image: -webkit-linear-gradient(top, rgba(255,173,10, .5) 90%, rgba(255,173,10, .5) 90%);
  background-image: -moz-linear-gradient(top, rgba(255,173,10, .5) 90%, rgba(255,173,10, .5) 90%);
  background-image: -ms-linear-gradient(top, rgba(255,173,10, .5) 90%, rgba(255,173,10, .5) 90%);
  background-image: -o-linear-gradient(top, rgba(255,173,10, .5) 90%, rgba(255,173,10, .5) 90%);
  background-image: linear-gradient(to bottom, rgba(255,173,10, .5) 90%, rgba(255,173,10, .5) 90%);
  text-decoration: none;
  color: #cf4001;
}



.carousel-img {
  display:inline-block;
  max-width: 49%;
  max-height: 450px;
}

.navbar {
  margin-bottom: 3px;
}

.nav-brand-btn {
  margin: 10px;
  background: #cf4001;
  background-image: -webkit-linear-gradient(top, #cf4001, #cf4001);
  background-image: -moz-linear-gradient(top, #cf4001, #cf4001);
  background-image: -ms-linear-gradient(top, #cf4001, #cf4001);
  background-image: -o-linear-gradient(top, #cf4001, #cf4001);
  background-image: linear-gradient(to bottom, #cf4001, #cf4001);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  // text-shadow: 1px 1px 3px #666666;
/*   -webkit-box-shadow: 2px 4px 1px #666666;
  -moz-box-shadow: 2px 4px 1px #666666;
  box-shadow: 2px 4px 1px #666666; */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 14px;
  font-weight: 100px;
  // padding: 2% 2%;
  border: solid #cf3f01 1px;
  text-decoration: none;
}

.nav-brand-btn:hover {
  background: rgb(255,173,10) 90%;
  background-image: -webkit-linear-gradient(top, rgb(255,173,10) 90%, rgb(255,173,10) 90%);
  background-image: -moz-linear-gradient(top, rgb(255,173,10) 90%, rgb(255,173,10) 90%);
  background-image: -ms-linear-gradient(top, rgb(255,173,10) 90%, rgb(255,173,10) 90%);
  background-image: -o-linear-gradient(top, rgb(255,173,10) 90%, rgb(255,173,10) 90%);
  background-image: linear-gradient(to bottom, rgb(255,173,10) 90%, rgb(255,173,10) 90%);
  text-decoration: none;
  color: #cf4001;
}

.brand-unit {
    position: relative;
    padding: 5px;
    margin: 10px;
    color: #F5F5F5; // white
    // color: #cf4001; // red
    text-align: center;
    text-shadow: 0 10px 0 rgba(0, 0, 0, 0.3);
    background: rgba(207, 64, 1, .8); //red
}

.brand-unit-main {
    position: relative;
    padding: 10px;
    padding-bottom: 20px;
    margin: auto;
    // color: #F5F5F5; // white
    color: #cf4001; // red
    text-align: center;
    text-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    // background: rgba(207, 64, 1, 1); //red
    // background: #CF4001;
    background: rgba(255,255,255,.6); // white

}

.brand-unit-text {
    position: relative;
    padding: 20px;
    color: #F5F5F5; // white
    // color: #cf4001; // red
    text-align: center;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
    background: rgba(207, 64, 1, .8); //red
/*     background: #CF4001; */
    // background: rgba(255,255,255,.5); // white

}

.gallery-img {
  margin: 10px;
}

.index-table-text {
  font-size: 11px;
  font-weight: 100px;
  color: black;
  text-align: center;
}


.index-table-icon {
  font-size: 24px;
  text-align: center;
}

#marquee {
  font-size: 150%;
}

// Styles for index.html.erb table
.brand-unit-table {
    position: relative;
    padding: 20px;
    color: #F5F5F5; // white
    // color: #cf4001; // red
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: rgba(207, 64, 1, .8); //red
/*     background: #CF4001; */
    // background: rgba(255,255,255,.5); // white
}