@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

body {
  background-image: url("wood copy.jpg")
}

.alert-notice {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.padding {
  padding: 10px;
}

.brand-type {
    color: #d43f3a;
}