.business-card {
	padding: 30px;
	margin: 5% auto;
	width: 1000px;
	height: auto;
	background: white;
	color: black;
	border-radius: 20px;
	-webkit-box-shadow: 20px 30px 10px rgba(82, 82, 82, .6);
  -moz-box-shadow: 20px 30px 10px rgba(82, 82, 82, .6);
  box-shadow: 20px 30px 10px rgba(82, 82, 82, .6);

}